$primary-color: rgb(255, 123, 28);
$primary-color-dark: rgb(102, 26, 15);
$primary-color-light: rgb(252, 191, 146);

$selected-color: rgb(35, 134, 250);

// Items colors

$items-primary-color: white;
$items-secondary-color: lightblue;

// Menu colors

$menu-memo: rgb(53, 135, 71);
$menu-memo-selected: rgb(13, 65, 28);
